<div class="col-sm-6 clic">
    <h2>en 1 clic</h2>
<div class="row">
    <div class="col-sm-4 "><a href="#"><span class="iconfont-cadena iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-cadena-acc.png')}}" alt=""></span><span>Paiement en ligne</span></a></div>
    <div class="col-sm-4 entreprises"><a href="annuaire.html"><span class="iconfont-vcard iconfont-clic"><img src=" {{asset('bundles/ayalineayaville/images/icones/icon-vcard-acc.png')}}" alt=""></span><span>Annuaire<br> des entreprises</span></a></div>
    <div class="col-sm-4 associations"><a href="#"><span class="iconfont-contact iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-contact-acc.png')}}" alt=""></span><span>Annuaire<br> des associations</span></a></div>
    <div class="col-sm-4 cartes"><a href="#"><span class="iconfont-world iconfont-clic"><img src=" {{asset('bundles/ayalineayaville/images/icones/icon-world-acc.png')}}" alt=""></span><span>Cartes interactives</span></a></div>
    <div class="col-sm-4 offres"><a href="#"><span class="iconfont-hands iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-hands-acc.png')}}" alt=""></span><span>Offres d’emploi</span></a></div>
    <div class="col-sm-4 enfance"><a href="#"><span class="iconfont-baby iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-baby-acc.png')}}" alt=""></span><span>Petite enfance</span></a></div>
    <div class="col-sm-4 logement"><a href="#"><span class="iconfont-building iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-building-acc.png')}}" alt=""></span><span>Logement à louer</span></a></div>
    <div class="col-sm-4 marches"><a href="#"><span class="iconfont-bulb iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-bulb-acc.png')}}" alt=""></span><span>Marchés publics</span></a></div>
    <div class="col-sm-4 tri"><a href="#"><span class="iconfont-trash iconfont-clic"><img src="{{asset('bundles/ayalineayaville/images/icones/icon-trash-acc.png')}}" alt=""></span><span>Tri sélectif</span></a></div>
</div>
    </div>